<div class="container">
  <div class="row">
  <div class="col-md-12" data-sr="enter bottom over 1s">
      <div class="col-md-4">
        <div class="panel panel-lighter">
          <div class="panel-heading">
            <img src="http://placehold.it/100x100" alt="photo user" class="big-avatar img-responsive center-block">
              <div class="text-center">
                <span>Caroline Belfort</span>
              <div class="subtitle">Statton Oakmont</div>
            </div>
          </div>
          <div class="panel-table">
            <div class="row border offset-small">
              <div class="text-center">
                <span class="text-truncated small text-sans-serif"><strong>358</strong></span>
                <p class="text-truncated small text-sans-serif subtitle">Connections</p>
              </div>
            </div>
            <div class="row border offset-small">
              <div class="text-center">
                <span class="text-truncated small text-sans-serif"><strong>25</strong></span>
                <p class="text-truncated small text-sans-serif subtitle">Views</p>
              </div>
            </div>
            <div class="border offset-small">
              <div class="">
                <p class="text-truncated small text-sans-serif"><strong><a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin.com/jordanbelfort</a></strong></p>
              </div>
            </div>
            <div class="offset-small">
              <div class="">
                <p class="text-truncated small text-sans-serif"><strong><a href=""><i class="fa fa-twitter" aria-hidden="true"></i> jordanbelfort</a></strong></p>
              </div>
            </div>
            <div class="offset-small">
              <div class="">
                <p class="text-truncated small text-sans-serif"><strong><a href=""><i class="fa fa-skype" aria-hidden="true"></i> jordanbelfort</a></strong></p>
              </div>
            </div>
            </div>
          </div>
        <div class="panel panel-lighter">
          <div class="panel-heading">
            <div class="keep">My stats</div>
            <div class="panel-table">
                test
              </div>
            </div>
          </div>
        </div>

      <div class="col-md-8 row">
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            test
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
            test
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            Summary
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
