/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: "Raleway", "Helvetica", "sans-serif";

// Local fonts
@font-face {
  font-family: "ProximaNovaRegular";
  src: font-url('ProximaNovaRegular.eot');
  src: font-url('ProximaNovaRegular.eot?#iefix') format('embedded-opentype'),
       font-url('ProximaNovaRegular.woff') format('woff'),
       font-url('ProximaNovaRegular.ttf') format('truetype')
}
$proxima-nova-regular: "ProximaNovaRegular";

@font-face {
  font-family: "ProximaNovaSemiBold";
  src: font-url('ProximaNovaSemiBold.eot');
  src: font-url('ProximaNovaSemiBold.eot?#iefix') format('embedded-opentype'),
       font-url('ProximaNovaSemiBold.woff') format('woff'),
       font-url('ProximaNovaSemiBold.ttf') format('truetype')
}
$proxima-nova-semibold: "ProximaNovaSemiBold";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
//$blue: #469AE0;
//$yellow: #FDB631;
$orange: #E67E22;
//$green: #32B796;
//$gray: #000000;

//new

$blue: #0058A2;
$yellow: #E1BB00;
$green: #01AB5D;
$black: #1B1D1F;
$gray: #A9A8A8;
$light-gray: #ADAEAE;
