/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
/* profile */
#profile {
  background: #181A12;
}
#profile a {
  color: #FF6533;
}
#profile a:hover, #profile a:focus {
  background: #000000;
}

/* post */
#post {
  color: #181A12;
  background: #cbd888;
}
#post a {
  color: #332510;
}
#post a:hover, #post a:focus {
  color: #6E5122;
}
#post strong {
  color: #181A12;
}

/* Contenu secondaire */
#secondaire {
  background: #181A12;
}


/* --- POSITIONNEMENT --- */

/* Bloc central */
#principle {
  position: relative; /* Voir -> Note 1 */
  width: 100%;
  margin-top: 35px;
}

/* Menu de profile */
#profile {
  position: absolute; /* -> 1 */
  top: 0;
  left: 0;
  width: 180px;
}
#profile ul {
  margin: 0;
  padding: 20px 10px 20px 10px;
  list-style: none;
}
#profile a {
  display: block;
  height: 1%;
  padding: 6px 10px 6px 10px;
  line-height: 1.5;
  font-size: .9em;
  text-decoration: none;
}

/* Contenu post */
#post {
  margin-left: 200px; /* -> 2 */
  margin-right: 240px; /* -> 2 */
  padding: 10px 20px;
}
#post > :first-child {
  margin-top: 10px;
}
#post p, #post li {
  line-height: 1.5;
}

/* Contenu secondaire */
#secondaire {
  position: absolute; /* -> 1 */
  top: 0;
  right: 0;
  width: 180px;
  padding: 12px 20px;
}

/* Mention de copyright */
#copyright {
  margin: 20px 0;
  font-size: .85em;
  text-align: left;
}
