<div class="container">
  <div class="row">
    <div class="wrapper">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <br>
        <%= simple_form_for(@user) do |f| %>
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :avatar, as: :attachinary %>
            </div>
            <br>
            <div class="col-xs-12">
              <%= f.input :email, :readonly => true %>
            </div>
            <div class="col-xs-12 col-md-4 col-md-offset-4">
              <div class="actions text-center">
                <%= f.button :submit, value: "Mettre à jour", class: 'btn btn-success'%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
