<div class="wrapper-grey">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="profil">
          <div class="profil_header">
            <div class="avatar-description">
              <%= render 'avatar', user: @user %>
              <h4><%= @user.email %></h4>
              <br>
             <div>
              <%= link_to "Editer mon profil", edit_user_registration_path(@user), class: 'btn btn-success' %>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
