<%= simple_form_for(@post, remote: true) do |f| %>
  <div class="field">
    <%= f.input :title, class: "form-control post_title" %>
  </div>
  <div class="field">
    <%= f.input :content, class: "form-control post_content" %>
  </div>
  <div class="field">
    <%= f.button :submit, "Submit", class: "btn btn-primary btn-sm" %>
  </div>
<% end %>
