<div class="navbar-wagon nav2">
  <section class="down">
    <div class="tabs">
      <nav>
        <ul id="tabs" class="nav nav-tabs">
          <li class="active"><a href="#posts" data-toggle="tab"><span>Posts</span></a></li>
          <li><a href="#articles" data-toggle="tab"><span>Articles</li></span></a></li>
          <li><a href="#companies" data-toggle="tab"><span>Companies</span></a></li>
          <li><a href="#jobs" data-toggle="tab"><span>Jobs</span></a></li>
        </ul>
      </nav>
   </section>
</div>
