<div class="navbar-wagon nav2">
  <a href="#"><li>Posts</li></a>
  <a href="#"><li>Articles</li></a>
  <a href="#"><li>Companies</li></a>
  <a href="#"><li>Jobs</li></a>
</div>

<div class="container">
<div id="principle">
    <div id="profile">photo + name</div>
    <div id="post">Posts here</div>
    <div id="secondaire">Keep in touche</div>
</div>
</div>
