<div class="navbar-wagon nav2">
  <a href="#"><li>Posts</li></a>
  <a href="#"><li>Articles</li></a>
  <a href="#"><li>Companies</li></a>
  <a href="#"><li>Jobs</li></a>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="card-user">
              <img src="https://unsplash.it/100/100/?random" alt="photo user" class="avatar img-responsive center-block">
              <div class="text-center">
                <span>Caroline Belfort</span>
                <div class="subtitle">Statton Oakmont</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <section>
              <div class="tabs tabs-style-linemove">
                <nav>
                  <ul id="tabs" class="nav nav-tabs">
                    <li class="active"><a href="#section-1" data-toggle="tab"><span><i class="fa fa-pencil" aria-hidden="true"></i>  Share an update</span></a></li>
                    <li><a href="#section-2" data-toggle="tab"><span><i class="fa fa-picture-o" aria-hidden="true"></i>  Upload a photo</li></span></a></li>
                    <li><a href="#section-3" data-toggle="tab"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Write an article</span></a></li>
                  </ul>
                </nav>
                <div class="tab-content">
                  <div class="tab-pane active" id="section-1">Write something ...</div>
                  <div class="tab-pane" id="section-2">2</div>
                  <div class="tab-pane" id="section-3">3</div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            <div class="keep">Keep in touch</div>
            <div class="card-user">
                <ul class="toolboxItems">
                  <li>
                    <div class="image">
                        <img src="https://unsplash.it/50/50/?random" alt="photo user" class="mini-avatar img-responsive">
                    </div>
                    <div class="name">
                       Caroline Belfort<div class="subtitle">Statton Oakmont</div>
                    </div>
                  </li>
                  <li>
                    <div class="image">
                        <img src="https://unsplash.it/50/50/?random" alt="photo user" class="mini-avatar img-responsive">
                    </div>
                    <div class="name">
                       Caroline Belfort<div class="subtitle">Statton Oakmont</div>
                    </div>
                  </li>
                  <li>
                    <div class="image">
                        <img src="https://unsplash.it/50/50/?random" alt="photo user" class="mini-avatar img-responsive">
                    </div>
                    <div class="name">
                       Caroline Belfort<div class="subtitle">Statton Oakmont</div>
                    </div>
                  </li>
                  <li>
                    <div class="image">
                        <img src="https://unsplash.it/50/50/?random" alt="photo user" class="mini-avatar img-responsive">
                    </div>
                    <div class="name">
                       Caroline Belfort<div class="subtitle">Statton Oakmont</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<script>
  $('#tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
