<div class="navbar-wagon nav2">
  <a href="#"><li>Posts</li></a>
  <a href="#"><li>Articles</li></a>
  <a href="#"><li>Companies</li></a>
  <a href="#"><li>Jobs</li></a>
</div>

<div class="container">
  <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            photo + name
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            Posts here
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body">
            Keep in touch
          </div>
        </div>
      </div>
  </div>
</div>
