<div class="container">
  <div class="row">
  <div class="col-md-12">
      <div class="col-md-4">
        <div class="panel panel-lighter">
          <div class="panel-heading">
            <img src="http://placehold.it/100x100" alt="photo user" class="big-avatar img-responsive center-block">
              <div class="text-center">
                <span>Caroline Belfort</span>
              <div class="subtitle">Statton Oakmont</div>
            </div>
          </div>
          <div class="panel-table">
            <div class="row border offset-small">
              <div class="text-center">
                <span class="text-truncated small text-sans-serif"><strong>358</strong></span>
                <p class="text-truncated small text-sans-serif subtitle">Connections</p>
              </div>
            </div>
            <div class="row border offset-small">
              <div class="text-center">
                <span class="text-truncated small text-sans-serif"><strong>25</strong></span>
                <p class="text-truncated small text-sans-serif subtitle">Views</p>
              </div>
            </div>
            <div class="row border offset-small">
              <div class="text-center">
                <p class="text-truncated small text-sans-serif"><strong><a href="">View my profile</a></strong></p></div>
              </div>
            </div>
          </div>
        <div class="panel panel-lighter">
          <div class="panel-heading">
            <div class="keep">Keep in touch</div>
            <div class="panel-table">
                <ul class="toolboxItems">
                  <li>
                    <div class="image">
                        <img src="https://unsplash.it/50/50/?random" alt="photo user" class="mini-avatar img-responsive">
                    </div>
                    <div class="name">
                       Caroline Belfort<div class="subtitle">Statton Oakmont</div>
                    </div>
                  </li>
                  <li>
                    <div class="image">
                        <img src="https://unsplash.it/50/50/?random" alt="photo user" class="mini-avatar img-responsive">
                    </div>
                    <div class="name">
                       Caroline Belfort<div class="subtitle">Statton Oakmont</div>
                    </div>
                  </li>
                  <li>
                    <div class="image">
                        <img src="https://unsplash.it/50/50/?random" alt="photo user" class="mini-avatar img-responsive">
                    </div>
                    <div class="name">
                       Caroline Belfort<div class="subtitle">Statton Oakmont</div>
                    </div>
                  </li>
                  <li>
                    <div class="image">
                        <img src="https://unsplash.it/50/50/?random" alt="photo user" class="mini-avatar img-responsive">
                    </div>
                    <div class="name">
                       Caroline Belfort<div class="subtitle">Statton Oakmont</div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      <div class="col-md-8">
        <div class="card">
          <div class="card-body write-post">
            <section>
              <div class="tabs">
                <nav>
                  <ul id="tabs" class="nav nav-tabs">
                    <li class="active"><a href="#section-1" data-toggle="tab"><span><i class="fa fa-pencil" aria-hidden="true"></i>  Share an update</span></a></li>
                    <li><a href="#section-2" data-toggle="tab"><span><i class="fa fa-picture-o" aria-hidden="true"></i>  Upload a photo</li></span></a></li>
                    <li><a href="#section-3" data-toggle="tab"><span><i class="fa fa-pencil-square-o" aria-hidden="true"></i>  Write an article</span></a></li>
                  </ul>
                </nav>
                <div class="tab-content">
                  <div class="tab-pane active" id="section-1">
                    <%= render 'shared/form' %>
                  </div>
                  <div class="tab-pane" id="section-2">
                    <%= render 'shared/form' %>
                  </div>
                  <div class="tab-pane" id="section-3">
                    <%= render 'shared/form' %>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="card" id="container_posts">
            <%= render @posts %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#tabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>


